body{
    background-color: antiquewhite;
    color:black;
}

h1 {
    color:darkred
}

p {
    font-size: 16px;
}

a {
    color: darkorchid;
}

#intro {
    font-weight: bold;
}

.highlight {
    font-style: italic;
}